<p>simulator works!</p>

<div class="form-group">
    Actual generation: <input type="file" (change)="onFileSelect($event.target)" name="actual_generation">
</div>
<div class="form-group">
    Installed capacity: <input type="file" (change)="onFileSelect($event.target)" name="installed_capacity">
</div>

<style>
.chart-wrapper {
    /*display: flex;*/
    /*overflow: hidden;*/
    height: 50vh;
}
</style>



<div class="chart-wrapper">
<ngx-charts-line-chart
  [view]="view"
  [scheme]="colorScheme"
  [legend]="legend"
  [showXAxisLabel]="showXAxisLabel"
  [showYAxisLabel]="showYAxisLabel"
  [xAxis]="xAxis"
  [yAxis]="yAxis"
  [xAxisLabel]="xAxisLabel"
  [yAxisLabel]="yAxisLabel"
  [timeline]="timeline"
  [results]="multi"
  [animations]="false"
  (select)="onSelect($event)"
  (activate)="onActivate($event)"
  (deactivate)="onDeactivate($event)"
  >
</ngx-charts-line-chart>
</div>
plop2